@font-face {
    font-family: AvenirRoman;
    src: url(fonts/AvenirRoman.otf);
}

body{
    background-color: #eeb6b7;
}

.container {
    width: 100%;
    border: 1px #eeb6b7;
    font-family: AvenirRoman;
    background-color: #eeb6b7;
}

.home {
    position:fixed;
    top:50%;
    left:50%;
    margin-top: -133px;
    margin-left: -128px;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #6e7376;
    clear: left;
    text-align: center;
}

header h1{
    font-size: 44px;
}

nav {
    float: left;
    max-width: 190px;
    margin: 0;
    padding: 1em;
}

th{
    width: 150px;
}

#scratch th{
    font-size: 20px;
    text-align: left;
    width: 25%;
}

#fauxtoshop th{
    font-size: 20px;
    text-align: left;
    width: 45%;
}

#scratch td{
    padding: 8px;
    vertical-align: top;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

nav ul a:link {
    color: black;
    font-size: 24px;
}

nav ul ul a:link {
    color: black;
    font-size: 24px;
    font-weight:normal;
}
nav ul ul{
    padding-left: 50px;
}
nav ul a:visited {
    color: black;
}

nav ul a:hover {
    color: #6e7376;
}

nav ul a:active {
    color: white;
}

article {
    margin-left: 220px;
    background-color: #dfdfdf;
    border-left: 1px #dfdfdf;
    padding: 1em;
    overflow: hidden;
}

.w3-hover-opacity:hover{opacity:0.60;filter:alpha(opacity=60);-webkit-backface-visibility:hidden}
.w3-hover-opacity{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s}

.w3-container{padding:0.01em 16px}
.w3-container:after,.w3-panel:after,.w3-row:after,.w3-row-padding:after,.w3-topnav:after,.w3-clear:after,.w3-btn-group:before,.w3-btn-group:after,.w3-btn-bar:before,.w3-btn-bar:after
{content:"";display:table;clear:both}

.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s12,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{width:99.99999%}
.w3-third{width:22%}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}

.w3-margin-bottom{margin-bottom:16px!important}

.w3-white{text-align: center; font-size: large}

#blah{
    font-size:26px;
    font-weight:bold;
}